Unemployment Pay May Again Require a Job Search. Is It Too Soon?
A tenet of the American unemployment system has been that anyone collecting benefits, in good times and bad, must look for work.That quid pro quo changed early in the pandemic. Profound fears of contagion and the sudden need for millions of workers to become caregivers led states to lift the requirements for reasons both practical and compassionate.But as vaccinations increase and the economy revs back to life, more than half of all states have revived their work search requirements. Arkansas and Louisiana did so months ago in an effort to push workers off their swollen unemployment rolls. Others, like Vermont and Kentucky, have followed in the last few weeks.